* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  width: 100%;
  height: 100%;
}

header {
  width: 100%;
  height: 100px;
  background-color: black;
}

#last {
  margin-left: 1px;
}
header div {
  width: 65%;
  height: 100%;
  margin: 0 auto;
  vertical-align: middle;
}

header #logo {
  height: 100%;
  position: static;
}

header ul {
  text-decoration: none;
  list-style: none;
  float: right;
  margin-top: 40px;
}

header a {
  margin-left: 50px;
  color: white;
  font-family: serif;
  font-weight: 300;
}

header span {
  margin: 0 auto;
  font-size: 20px;
  font-weight: 500;
  color: white;
}

header #profile {
  height: 20px;
  size: 20px;
}

header a:hover {
  color: black;
}

body {
  background-image: url("../images/background_image.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgba(156, 156, 156, 0.541);
  background-blend-mode: color-dodge;
  overflow-x: hidden;
}

main #main {
  width: 80%;
  height: 600px;
  margin: 40px auto;
}

table {
  width: 100%;
  height: 100%;
}

main td {
  background-color: rgba(255, 255, 255, 0.801);
  text-align: center;
  padding-top: 90px;
  vertical-align: top;
  border: 1px solid rgba(255, 255, 255, 0.801);
  border-radius: 90px;
  width: 33%;
  font-family: Georgia, "Times New Roman", Times, serif;
}

main td:hover {
  background-color: white;
}

main #question {
  width: 100%;
  height: 100px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 600;
  text-align: center;
  font-size: 18px;
  color: black;
}

main #question a {
  font-style: italic;
  color: teal;
}

main #question a:hover {
  color: black;
}

footer {
  background-color: black;
  width: 100%;
  height: 250px;
  border: 2px solid black;
}

footer #footer {
  border-top: 4px solid white;
  width: 80%;
  height: 90%;
  margin: 40px auto;
}

#footer ul {
  float: right;
  margin-right: 20%;
  list-style-type: none;
}

#footer #footerlogo {
  float: left;
  width: 120px;
  margin-top: 45px;
  border-right: 2px solid rgb(97, 97, 97);
}

footer #authors {
  width: 300px;
  height: 120px;
  margin-left: 135px;
  margin-top: 45px;
  color: white;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 15px;
}

footer #authors span {
  font-weight: 600;
  font-size: 17px;
  font-style: italic;
}
